<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Grafito</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wikiki/bulma-switch@1.0.2/dist/bulma-switch.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.3.0/css/searchBuilder.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/animations/perspective-extreme.css" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/themes/light.css" type="text/css">
        <link rel="stylesheet/less" href="/styles/app.less" type="text/css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    </head>
    <body>
        <div id="app">
            <header>
                <div class="command"
                     :class="command.focused ? 'focused' : ''">
                    <div @click="processCommand()" 
                         class="prompt">
                        <i :class="working ? ['ph-spinner-gap-fill', 'rotating'] : (command.focused ? 'ph-arrow-circle-right-fill' : 'ph-arrow-circle-right')"></i>
                    </div>
                    <input @focus="command.focused=true"
                           @focusout="command.focused=false"
                           @keyup.native.enter="processCommand()"
                           type="text" spellcheck="false" placeholder="Enter a command">
                </div>
            </header>
            <main>
                <aside>
                    <ul class="sidebar">
                        <li v-for="(sidebarTip, sidebarItem) in sidebar.items" 
                            :class="sidebar.active==sidebarItem && 'active'" 
                            @click="sidebar.active=sidebarItem"
                            @mouseenter="sidebar.hovered=sidebarItem"
                            @mouseleave="sidebar.hovered=''"
                            data-tippy-placement="right"
                            data-tippy-animation="perspective-extreme"
                            :data-tippy-content="sidebarTip">
                            <i :class="(sidebar.active==sidebarItem || sidebar.hovered==sidebarItem) ? `ph-${sidebarItem}-fill` : `ph-${sidebarItem}`"></i>
                        </li>
                    </ul>
                </aside>
                <section id="content">
                    <transition name="slide-left">
                        <div id="editOptions" v-show="(graph.selected != null) && (sidebar.active=='graph')">
                            <div v-for="editOption in graph.editOptions"
                                 @click="editOption.action(graph.selected.id)"
                                 :data-tippy-content="editOption.tip"
                                 class="editOption"
                                 data-tippy-placement="left"
                                 data-tippy-theme="light">
                                 <i :class="`ph-${editOption.icon}-fill`"></i>
                            </div>
                        </div>
                    </transition>
                    <div id="graph" v-show="sidebar.active=='graph'"></div>
                    <div id="table" v-show="sidebar.active=='table'">
                        <table class="table is-fullwidth is-striped is-hoverable display">
                            <thead>
                                <tr>
                                    <th v-for="tableKey in table.keys">{{tableKey}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="tableRow in table.rows">
                                    <td v-for="tableKey in table.keys">{{tableRow[tableKey]}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="sliders" v-show="sidebar.active=='sliders'">
                        <div class="container">
                            <div class="columns">
                                <div class="column is-6">
                                    <article class="panel">
                                        <p class="panel-heading">
                                            Graph View
                                        </p>
                                        <div class="panel-block">

                                            <input v-model="config.showEdgesOnDrag"
                                                   @change="updateGraphView()"
                                                   type="checkbox" name="showEdgesOnDrag" class="switchable" >
                                            <label for="showEdgesOnDrag">Keep showing edges when dragging</label>
                                        </div>
                                    </article>
                                </div>
                                <div class="column is-6">TWO</div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <div class="infobar">
                    <div class="graph-info"
                         v-show="sidebar.active=='graph'">
                        <span class="tag" 
                            :style="infobar.tag.style">{{infobar.tag.caption}}</span>
                        <nav class="breadcrumb">
                            <ul>
                                <li class="is-active" v-for="(value, key) in infobar.paths">
                                    <a href="#">
                                        <b>{{key}}:</b>&nbsp;{{value}}
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="table-info"
                         v-show="sidebar.active=='table'">

                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/phosphor-icons"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.bulma.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/dataTables.searchBuilder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/searchBuilder.bulma.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
        <script type="text/javascript" src="https://unpkg.com/tippy.js@6"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>