<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Grafito</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wikiki/bulma-switch@1.0.2/dist/bulma-switch.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.3.0/css/searchBuilder.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.1/css/dataTables.dateTime.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.bulma.min.css" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/animations/perspective-extreme.css" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/themes/light.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" type="text/css">
        <link rel="stylesheet/less" href="/styles/app.less" type="text/css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>
    </head>
    <body>
        <div id="app">
            <div :class="config.general.darkTheme.value ? 'dark animate__animated animate__fadeIn animate__faster' : ''">
                <header>
                    <div class="command"
                        :class="command.focused ? 'focused' : ''">
                        <div @click="processCommand()" 
                            class="prompt">
                            <i :class="working ? ['ph-spinner-gap-fill', 'rotating'] : (command.focused ? 'ph-arrow-circle-right-fill' : 'ph-arrow-circle-right')"></i>
                        </div>
                        <input @focus="command.focused=true"
                            @focusout="command.focused=false"
                            @keyup.native.enter="processCommand()"
                            type="text" spellcheck="false" placeholder="Enter a command">
                    </div>
                </header>
                <main>
                    <aside>
                        <ul class="sidebar">
                            <li v-for="(sidebarTip, sidebarItem) in sidebar.items" 
                                :class="sidebar.active==sidebarItem && 'active'" 
                                @click="sidebar.active=sidebarItem"
                                @mouseenter="sidebar.hovered=sidebarItem"
                                @mouseleave="sidebar.hovered=''"
                                data-tippy-placement="right"
                                data-tippy-animation="perspective-extreme"
                                :data-tippy-content="sidebarTip">
                                <i :class="(sidebar.active==sidebarItem || sidebar.hovered==sidebarItem) ? `ph-${sidebarItem}-fill` : `ph-${sidebarItem}`"></i>
                            </li>
                        </ul>
                    </aside>
                    <section id="content">
                        <transition v-for="(editOptions,optionGroup) in graph.editOptions"
                                    name="slide-left">
                            <div class="editOptions" 
                                :id="`${optionGroup}EditOptions`" 
                                v-show="
                                (sidebar.active=='graph') && (
                                    ((optionGroup=='main') && (graph.selected.node == []) && (graph.selected.edge == [])) ||
                                    ((optionGroup=='node') && (graph.selected.node != [])) ||
                                    ((optionGroup=='edge') && (graph.selected.edge != []))
                                )">
                                <div v-for="editOption in editOptions.visualization"
                                    @click="editOption.action()"
                                    :data-tippy-content="editOption.tip"
                                    class="editOption"
                                    data-tippy-placement="left"
                                    data-tippy-theme="light">
                                    <i :class="`ph-${editOption.icon}`"></i>
                                </div>
                                <div class="editOption-separator"></div>
                                <div v-for="editOption in editOptions.database"
                                    @click="editOption.action()"
                                    :data-tippy-content="editOption.tip"
                                    class="editOption"
                                    :class="editOption.effect"
                                    data-tippy-placement="left"
                                    data-tippy-theme="light">
                                    <i :class="`ph-${editOption.icon}`"></i>
                                </div>
                            </div>
                        </transition>
                        <div id="graph" v-show="sidebar.active=='graph'"></div>
                        <div id="table" v-show="sidebar.active=='table'">
                            <table class="table is-fullwidth is-striped is-hoverable display">
                                <thead>
                                    <tr>
                                        <th v-for="tableKey in table.keys">{{tableKey}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="tableRow in table.rows">
                                        <td v-for="tableKey in table.keys">{{tableRow[tableKey]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="sliders" v-show="sidebar.active=='sliders'">
                            <section class="hero">
                                <div class="hero-body">
                                    <div class="container has-text-centered">
                                        <p class="title">Grafito</p>
                                        <p class="subtitle">system: v/{{config.versions.system}} &bull; engine: v/{{config.versions.engine}}</p>
                                    </div>
                                </div>
                            </section>
                            <div class="container">
                                <div class="columns">
                                    <div class="column is-6">
                                        <article class="panel">
                                            <p class="panel-heading">
                                                General
                                            </p>
                                            <div v-for="(setting,key) in config.general"
                                                class="panel-block">
                                                <input v-model="config.general[key].value"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                                <label :for="key"
                                                    :class="(config.general[key].value) ? '' : 'inactive'">
                                                    {{setting.description}}
                                                </label>
                                            </div>
                                        </article>
                                        <article class="panel">
                                            <p class="panel-heading">
                                                Engine
                                            </p>
                                            <div v-for="(setting,key) in config.engine"
                                                class="panel-block">
                                                <input v-model="config.engine[key].value"
                                                    @change="updateEngineSettings()"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                                <label :for="key"
                                                    :class="(config.engine[key].value) ? '' : 'inactive'">
                                                    {{setting.description}}
                                                </label>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="column is-6">
                                        <article class="panel">
                                            <p class="panel-heading">
                                                Graph View
                                            </p>
                                            <div v-for="(setting,key) in config.graphView"
                                                class="panel-block">
                                                <input v-model="config.graphView[key].value"
                                                    @change="updateGraphView()"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                                <label :for="key"
                                                    :class="(config.graphView[key].value) ? '' : 'inactive'">
                                                    {{setting.description}}
                                                </label>
                                            </div>
                                        </article>
                                        <article class="panel">
                                            <p class="panel-heading">
                                                Table View
                                            </p>
                                            <div v-for="(setting,key) in config.tableView"
                                                class="panel-block">
                                                <input v-model="config.tableView[key].value"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                                <label :for="key"
                                                    :class="(config.tableView[key].value) ? '' : 'inactive'">
                                                    {{setting.description}}
                                                </label>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="modal"
                        :class="(modal.active) ? 'is-active' : ''">
                        <div class="modal-background animate__animated animate__fadeIn animate__faster"></div>
                        <div class="modal-card animate__animated animate__slideInDown animate__faster">
                        <header class="modal-card-head">
                            <p class="modal-card-title">
                                <i :class="(modal.icon=='') ? '' : `ph-${modal.icon}`"></i>
                                {{modal.title}}
                            </p>
                            <button @click="modal.active=false"
                                    class="delete" 
                                    aria-label="close" >
                            </button>
                        </header>
                        <section class="modal-card-body">
                            <div v-if="modal.mode=='confirmation'">
                                <p>This action is going to delete the selected element from the graph database and is not reversible. Are you sure you want to proceed?</p>
                            </div>
                            <div v-if="modal.mode=='filter'">
                                <div class="columns">
                                    <div class="column is-6">
                                        <div class="switchable-wrapper"
                                            v-for="(value,key) in graph.filter.nodes">
                                            <input v-model="graph.filter.nodes[key]"
                                                    @change="graph.dataview.nodes.refresh(); showDefaultInfo()"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                            <label :for="key"
                                                :class="(graph.filter.nodes[key]) ? '' : 'inactive'">
                                                {{key}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="column is-6">
                                        <div class="switchable-wrapper"
                                            v-for="(value,key) in graph.filter.edges">
                                            <input v-model="graph.filter.edges[key]"
                                                    @change="graph.dataview.edges.refresh(); showDefaultInfo()"
                                                    :id="key"
                                                    type="checkbox"
                                                    class="switchable" >
                                            <label :for="key"
                                                :class="(graph.filter.edges[key]) ? '' : 'inactive'">
                                                {{key}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="modal.mode=='edit'">
                                <div v-for="(value,key) in modal.fields"
                                        class="field is-horizontal">
                                    <div class="field-label">
                                        <label class="label">{{key}}</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <div v-if="typeof value == 'boolean'"
                                                     class="inline-switchable-container">
                                                    <input v-model="modal.fields[key]"
                                                           :id="key"
                                                           type="checkbox"
                                                           class="switchable">
                                                </div>
                                                <div v-else>
                                                    <input v-model="modal.fields[key]" 
                                                       :type="getInputTypeForValue(value)"
                                                       class="input"
                                                       spellcheck="false">
                                                </div>
                                            </div>
                                            <div class="control">
                                                <button class="button"
                                                        @click="delete modal.fields[key]">
                                                    <span class="icon is-small">
                                                        <i class="ph-backspace-bold"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <div v-if="modal.showAdd"
                                 class="leftmost">
                                <button class="button is-light"
                                        @click="modal.showAddActive = !modal.showAddActive"
                                        :class="modal.showAddActive ? 'is-hovered' : ''">
                                    <i class="ph-list-plus-bold"></i>
                                </button>
                                <div v-if="modal.showAddActive"
                                     class="field has-addons">
                                     <div class="control">
                                        <span class="select">
                                          <select v-model="modal.addFieldType">
                                            <option>String</option>
                                            <option>Number</option>
                                            <option>Boolean</option>
                                          </select>
                                        </span>
                                    </div>
                                    <div class="control is-expanded">
                                        <input
                                        v-model="modal.addField"
                                        :type="modal.addFieldType"
                                        class="input"
                                        spellcheck="false">
                                    </div>
                                    <div class="control">
                                        <button class="button"
                                                @click="addNewNodeField()">
                                            Add
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <button class="button is-outlined"
                                    :class="modal.accept.style"
                                    @click="modal.accept.action(); modal.active=false">
                                {{modal.accept.button}}
                            </button>
                            <button @click="modal.active=false"
                                    v-if="modal.showCancel"
                                    class="button is-light">
                                Cancel
                            </button>
                        </footer>
                        </div>
                    </div>
                </main>
                <footer>
                    <div class="infobar">
                        <div class="graph-info"
                            v-show="sidebar.active=='graph'">
                            <span class="tag" 
                                :style="infobar.tag.style">{{infobar.tag.caption}}</span>
                            <nav class="breadcrumb">
                                <ul>
                                    <li class="is-active" v-for="(value, key) in infobar.paths">
                                        <a href="#">
                                            <b>{{key}}:</b>&nbsp;{{value}}
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="table-info"
                            v-show="sidebar.active=='table'">

                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
        <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>-->
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/phosphor-icons"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.bulma.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/dataTables.searchBuilder.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.0/js/searchBuilder.bulma.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>
        <script type="text/javascript" src="https://unpkg.com/tippy.js@6"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </body>
</html>